@model IEnumerable<sp23Team09FinalProject.Models.AppUser>

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("CSO"))
{
    <h1>All People</h1>

}
@if (User.IsInRole("Recruiter"))
{
    <h1>All Students</h1>

}
@if (User.IsInRole("CSO") || User.IsInRole("Recruiter"))
{

    <a asp-action="DetailedSearch" class="btn btn-success">Detailed Search</a>
    <a asp-action="IndexStudent" class="btn btn-danger">Show All</a>
}

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("CSO"))
    {
        <p>
            <a asp-action="Register" asp-controller="Account" id="registerLink">Register</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleInitial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Major.MajorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                @if (User.IsInRole("CSO"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                    </td>
                }
            </tr>
        }





    </tbody>
</table>
